<h1>Stupid Coaching</h1>

<div class ="box">
<h2> Message de l'utilisateur/ you: </h2>
<p> <%= params[:question] %></p>
</div>

<div class ="box active">
<h2> Réponse de l'ordi/ coach: </h2>
<p> <%= @answer %></p>
</div>

 <p><%= link_to "Ask your Question", ask_path %></p> <!-- OR <a href="/ask">Ask your question!</a> -->

